<footer>
    <div class="left_doc"></div>
    <div class="right_doc"></div>
    <!-- <p data-lang="footer_p">graduation colsslege project, <a target="_top" href="./students" rel="noopener noreferrer">more info</a></p> -->
</footer>